# API 환경변수 설정
BASE_URL=http://10.11.1.205:8000

# 개발 서버 주소
EXPO_PUBLIC_API_URL=http://10.11.1.205:8000
EXPO_PUBLIC_STATIC_BASE_URL=http://10.11.1.205:8000
EXPO_PUBLIC_STATIC_BACKEND_URL=http://10.11.1.205:8000/
# 배포 서버 주소
# EXPO_PUBLIC_API_URL=https://bml-e3uz.onrender.com/api
# EXPO_PUBLIC_STATIC_BASE_URL=https://bml-e3uz.onrender.com
EXPO_PUBLIC_APP_NAME=BML
EXPO_PUBLIC_APP_SUBTITLE=건강한 식단 관리

# [Google 로그인 설정]
# EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID=
# EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=

# [Naver 로그인 설정] - https://developers.naver.com 에서 앱 등록 후 발급
# EXPO_PUBLIC_NAVER_CLIENT_ID=
# EXPO_PUBLIC_NAVER_CLIENT_SECRET=
