# Environment
*.env

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Python
venv/
backend/venv/
backend/attaches/
__pycache__/
*.py[cod]
*.pyc

# Backend
# backend/attaches/
backend/ca-certificate.pem

# Frontend
frontend/android/

# Expo
.expo/
.expo-shared/

# Test / Logs
*.log
.coverage
htmlcov/
pytest_cache/

# OS
.DS_Store
Thumbs.db

JWT_TEST_SCENARIO.md
AUTH_IMPLEMENTATION.md