# Environment
*.env

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Python
venv/
__pycache__/

# Backend
backend/venv/
backend/attaches/
backend/ca-certificate.pem

# Expo
.expo/
.expo-shared/

# OS
.DS_Store
Thumbs.db
